@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans 3", sans-serif;
}

.link {
  text-decoration: none;
}
