.newproduct {
  flex: 4;
  padding: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: 20px;
  border-radius: 10px;
}
.newproduct-form {
  margin-top: 10px;
}
.newproduct-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.newproduct-item > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}
.newproduct-item > input,
.newproduct-item > select {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: 0;
}
.newproduct-bt {
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: darkblue;
  /* width: 100%; */
  color: white;
  font-weight: 600;
  cursor: pointer;
}
