.navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 9999;
  /* margin-bottom: 50px; */
}
.navbar.scrolled {
  background-color: #0f0f0f;
  transition: all 0.4s ease;
}
.navbar .wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-right .nav-right-cont {
  position: relative;
  cursor: pointer;
  color: #555;
}

.nav-right .nav-right-cont .badge {
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -5px;
  right: 0;
  font-size: 10px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.menu-icon {
  display: none;
  font-size: 20px !important;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  .menu-icon {
    display: inline;
  }
}
