@import '../../App.scss';

.navbar{
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 909;
    background: linear-gradient(to top, transparent 0%,rgb(0,0,0,0.3) 50%);
    font-weight: 200;

    &.scrolled{
        background-color: var(--main-color);
        transition: all 0.4s ease;
    }

    .container{
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        @include mobile {
            padding: 0 20px;    
        }

        .left{
            display: flex;
            align-items: center;

            img{
                height: 25px;
                margin-right: 40px;
                @include mobile {
                        display: none;
                    }
            }
            span{
                margin-right: 20px;
                cursor: pointer;

                @include mobile{
                    display: none;
                }

                &.mob-res{
                    @include mobile {
                        display: block;
                    }
                }
            }
        }
        .right{
            display: flex;
            align-items: center;

            .mob-out{
                display: none;
                margin-left: 10px;
                

                @include mobile {
                    cursor: pointer;
                    display: flex;
                        justify-content: center;
                        align-items: center;
                }
            }

            img{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
            .mob-unwanted{
                @include mobile {
                        display: none;
                    }
            }
            
            .icon{
                margin: 0 15px;
                cursor: pointer;
                &.mob-unwanted {
                        @include mobile {
                            display: none;
                        }
                    }
            }
            .profile{
                @include mobile {
                        display: none;
                    }
                .options{
                    display: none;
                    background-color: #0f0f0f;
                        border-radius: 5px;
                        color: white;
                        
                }
                span{
                    padding: 10px;
                    cursor: pointer;
                }
                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        
                    }
                }
            }
        }
    }
}